img {
  width: 500px;
  height: 400px;
}
body {
  background-color: rgb(255, 251, 129);
}
body {
  font-family: Arial, sans-serif;
}
.container {
  text-align: center;
}

img {
  display: inline-block;

 footer {
    background-color: rgba(234, 11, 11, 0.898);
    text-align: center;