img {
  width: 500px;
  height: 400px;
}
body {
  background-color: rgb(255, 251, 129);
}
body {
  font-family: Arial';
}
.container {
  text-align: center;
}

img {
  display: inline-block;

 footer {
    <background-color: rgba(234, 11, 11, 0.898);>
    <color: black;>
    <padding: 20px;>
    

 header {
  background-color: white;
  color:black;
  margin:0%
  